
/* - - - - - || GENERAL || - - - - - */
.row
{
    margin: 0;
    padding: 0;
}

/* - - - || NAVEGATION BUTTONS || - - - */
.nav_bar
{
    height: 100%;
    display: flex;
    position: fixed;
    width: 105.271px;
    align-items: center;
    background: #35363A;
    flex-direction: column;
    justify-content: space-around;
}

.nav_container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegation_btn
{
    border: none;
    height: 80px;
    color: #ffffff;
    width: 105.271px;
    background: #35363A;
}

.navegation_btn:hover
{
    transition: .5s;
    color: #35363A;
    background: #ffffff;
}

.navegation_btn i
{
    font-size: 28px;
}

/* - - - - - || SECTIONS || - - - - - */
#education_section
{
    display: none;
    color: #ffffff;
    background: #35363A;
}

#experience_section
{
    display: none;
    color: #ffffff;
    background: #35363A;
}

#references_section
{
    display: none;
    color: #ffffff;
    background: #35363A;
}

/* - - - - - || COLUMN #001 // NAVEGATION || - - - - - */
.column_001
{
    height: 100vh;
    background: #35363A;
}

/* - - - - - || COLUMN #002 // PROFILE || - - - - - */
.column_002
{
    /* - - - || IMAGE || - - - */
    background-image: url(https://images.unsplash.com/photo-1588167056840-13caf6e4562a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=465&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    height: 100vh;

    /* - - - || CONTENT || - - - */
    display: flex;
    justify-content: end;
    flex-direction: column;
}

/* - - - || INFORMATION || - - - */
.personal_info
{
    color: #ffffff;
    text-align: center;
}

.personal_info h3
{
    font-size: 25px;
}

.personal_info h3 span
{
    font-style: italic;
    font-weight: bolder;
}

.personal_info p
{
    font-size: 14px;
}

/* - - - || SOCIAL NETWORKS || - - - */
.social_networks
{
    text-align: center;
    margin-bottom: 50px;
}

.social_icons
{
    color: #ffffff;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.social_icons:hover
{
    transition: .5s;
    cursor: pointer;
    color: blueviolet;
}

/* - - - - - || COLUMN #003 // INFORMATION || - - - - - */
.column_003
{
    height: 100vh;
    color: #ffffff;
    padding: 40px 30px;
    background: #35363A;
}

/* - - - || ABOUT ME || - - - */
.title_resume
{
    font-size: 50px;
    font-weight: bolder;
}

.subtitle_resume
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.about_resume
{
    opacity: .5;
    font-size: 14px;
    font-weight: lighter;
}

/* - - - || CONTACT || - - - */
.contact_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.contact_icons
{
    font-size: 20px;
    margin-right: 15px;
}

.contact_item h5
{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.contact_item p
{
    opacity: .5;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: lighter;
}

/* - - - || SKILLS || - - - */
.title_skills
{
    font-weight: bolder;
    margin-bottom: 20px;
}

.skills_icons
{
    font-size: 28px;
    margin-bottom: 10px;
}

.title_skill
{
    font-size: 14px;
    font-weight: bolder;
}

.about_skill
{
    opacity: .5;
    font-size: 14px;
    font-weight: lighter;
}

/* - - - - - || SECTION #002 // EDUCATION || - - - - - */
.education_box
{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    flex-direction: row;
}

.education_number
{
    display: flex;
    align-items: center;
}

.education_number h2
{
    font-size: 70px;
    margin-right: 40px;
    font-weight: bolder;
}

.title_education
{
    font-size: 16px;
    font-weight: bolder;
}

.subtitle_education
{
    opacity: .5;
    display: flex;
    font-size: 14px;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
}

.subtitle_education i
{
    font-size: 18px;
    margin-right: 5px;
}

.subtitle_container
{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    .nav_bar
    {
        display: none;
    }

    .column_001
    {
        display: none;
    }

    .column_003
    {
        height: auto;
    }

    #education_section
    {
        display: block;
    }

    #experience_section
    {
        display: block;
    }

    #references_section
    {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{

}